
<div class="container mr-5">
    <br />
    <br />
    <br />


    <div class="d-flex justify-content-center row" id="invoice-line-info">
        <div class="col-md-12">
            <div class="p-3 bg-white rounded">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="text-uppercase">Invoices</h1>
                    </div>
                    <div class="col-lg-12">
                        <div class="text-right mb-3">
                            <button class="btn btn-success btn-sm mr-5 createinvoicebtn" style="margin: 20px;" title="Create an invoice">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <table id="simpletable" class="table table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th class="th-sm" hidden="hidden">
                            </th>
                            <th class="th-sm" style="width: 15%">
                            </th>
                            <th class="th-sm">
                                Invoice Date
                            </th>
                            <th class="th-sm">
                                Patient
                            </th>
                            <th class="th-sm">
                                Invoice Total
                            </th>
                        </tr>
                    </thead>
                    <tbody id="invoiceInfo">
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <div class="row" style="display:none;" id="invoice-line-details">
        <div class="col-md-6">
            <h1 class="text-uppercase">Invoices Details</h1>
        </div>

        <div class="col-lg-12">
            <div class="text-right mb-3">
                <button class="btn btn-success btn-sm mr-5 createinvoicelinebtn" style="margin: 20px;" title="Create an invoice line">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
                            <h4>Invoice Date: <span id="iDate"></span></h4>
                        </div>
                        <div class="row">
                            <h4>Patient: <span id="pName"></span></h4>
                        </div>


                    </div>
                    <table id="simpletable" class="table table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th class="th-sm" hidden="hidden">
                                </th>
                                <th class="th-sm" hidden="hidden">
                                </th>
                                <th class="th-sm" style="width: 15%">
                                </th>
                                <th class="th-sm">
                                    Qty
                                </th>
                                <th class="th-sm">
                                    Code
                                </th>
                                <th class="th-sm">
                                    Description
                                </th>
                                <th class="th-sm">
                                    Total
                                </th>
                            </tr>
                        </thead>
                        <tbody id="invoiceDetails">
                        </tbody>

                    </table>
                    <div class="form-group">
                        <div class="row">
                            <div class="text-right">
                                Invoice Total: R<span id="invTotal">0.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right mb-3">
                    <button class="btn btn-success btn-sm mr-5 backtolist" style="margin: 20px;" title="Back to list">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="modal fade bd-example-modal-lg" id="invoiceModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel"></h5>
                </div>
                <div class="modal-body ui-front">
                    <form id="formId">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-xs-5">
                                    <input type="hidden" id="patientId" />
                                    <label for="invoice-invoicedate" class="required">Invoice Date:</label>
                                </div>
                                <div class="col-lg-6 col-xs-7">
                                    <input type="date" class="form-control" id="invoice-invoicedate" placeholder="dd/mm/yyyy">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4 col-xs-5">
                                    <label for="invoice-patientname" class="required">Patient:</label>
                                </div>
                                <div class="col-lg-6 col-xs-7">
                                    <input class="form-control" id="invoice-patientname" placeholder="Search By Id Number">
                                  
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h4>Line items</h4>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="lineItems">
                            <div class="row" id="header-row">
                                <div class="col-lg-2">
                                    <label>Qty</label>
                                </div>
                                <div class="col-lg-3">
                                    <label>Code</label>
                                </div>
                                <div class="col-lg-4">
                                    <label>Description</label>
                                </div>
                                <div class="col-lg-2">
                                    <label>Total</label>
                                </div>
                                <div class="col-lg-1">
                                    <label>...</label>
                                </div>
                            </div>
                            <div class="row" id="row1">
                                <div class="col-lg-2">
                                    <input type="number" class="form-control" id="qty1" value="1" />
                                </div>
                                <div class="col-lg-3">
                                    <input class="form-control" id="code1" />
                                </div>
                                <div class="col-lg-4">
                                    <textarea class="form-control" id="desc1"></textarea>
                                </div>
                                <div class="col-lg-2">
                                    <input type="number" class="form-control itemTotal" id="total1" value="0"/>
                                </div>
                                <div class="col-lg-1">
                                    <span id="remove1" style="display:none;" class="glyphicon glyphicon-remove alert-danger removeItem"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-3">
                                    <button type="button" class="btn btn-info" id="addItem">Add more</button>
                                </div>
                            </div>
                        </div>
                      
                    </form>
                </div>
                <br />
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="closeModal">Close</button>
                    <button type="button" class="btn btn-primary save">Save</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade bd-example-modal-lg" id="lineeditmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Update invoice line</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <input type="hidden" id="lineId" />
                                    <input type="hidden"id="invoiceId" />
                                    <label for="line" class="required">Qty:</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" class="form-control" id="line-qty">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="line" class="required">Code:</label>
                                </div>
                                <div class="col-lg-6">
                                    <input class="form-control" id="line-code">
                                  
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="line" class="required">Description:</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" max="13" min="13" class="form-control" id="line-description">
                                   
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-4">
                                    <label for="line" class="required">Total:</label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" max="13" min="13" class="form-control" id="line-total">
                                   
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <br />
                <br />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close">Close</button>
                    <button type="button" class="btn btn-primary edit">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/invoice.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>